<div>
    <h2 id="page-heading">
        <span>Shopping Lists</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-list" [routerLink]="['/shopping-list/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Shopping List
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="shoppingLists?.length === 0">
        <span>No shoppingLists found</span>
    </div>
    <div class="table-responsive" *ngIf="shoppingLists?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <!-- <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th> -->
            <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="category.id"><span>Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="shopper.id"><span>Shopper</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let shoppingList of shoppingLists ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/shopping-list', shoppingList.id, 'view' ]">{{shoppingList.id}}</a></td> -->
                <td><a [routerLink]="['/shopping-list', shoppingList.id, 'view' ]">{{shoppingList.name}}</a></td>
                <td>
                    <div *ngIf="shoppingList.category">
                        <a [routerLink]="['/category', shoppingList.category?.id, 'view' ]" >{{shoppingList.category?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shoppingList.shopper">
                        <a [routerLink]="['/shopper', shoppingList.shopper?.id, 'view' ]" >{{shoppingList.shopper?.displayName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shopping-list', shoppingList.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shopping-list', shoppingList.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(shoppingList)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
