<div>
    <h2 id="page-heading">
        <span>Shoppers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopper" [routerLink]="['/shopper/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Shopper
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="shoppers?.length === 0">
        <span>No shoppers found</span>
    </div>
    <div class="table-responsive" *ngIf="shoppers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <!-- <th scope="col" ><span>ID</span></th> -->
            <th scope="col" ><span>Display Name</span></th>
            <th scope="col" ><span>Phone Number</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shopper of shoppers ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/shopper', shopper.id, 'view' ]">{{shopper.id}}</a></td> -->
                <td><a [routerLink]="['/shopper', shopper.id, 'view' ]">{{shopper.displayName}}</a></td>
                <td>{{shopper.phoneNumber}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/shopper', shopper.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shopper', shopper.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(shopper)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
